.hidden
{
	display:none;
}

.size
{
	width: 13%;
}

.slsize
{
	width:9%;
	padding-right: 50px;
}

.smallIconsSize
{
	width:18%;
	padding-right: 20px;
}

.biggerSeatbelt
{
	width:15%;
}

.fill
{
	opacity: 0.6;
}

.title
{
	font-family: 'Carter One', cursive;
	color: white;
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-top: 420px;

}

.iconLines
{
	left: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 50px; 
	width: 80%;
	align-items: center;
	position: relative;
}


.title h1
 {
 	font-size: 60px;
 }

.title h2
 {
 	font-size: 30px;
 }

 #wrapper
 {
 background-image: url(../images/background.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
 }

.centered
{
	margin-left: 84px;
}