.hidden
{
	display:none;
}

.container
 {
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	margin-left: 150px;
 	padding: 5%;
  width: 100%;
  flex-wrap: wrap;
}

.size
{
	width: 26%;
}

.sizeStoplights
{
	width:18%;
}

h1
 {
 	margin-top: 20px;
 	text-align: center;
 	font-family: Arial, helvetica,
 	font-size: 30px;
 	color: red;
 }

 #wrapper
 {
 
 }
